* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    margin: 0;
    padding: 0;
}

.header-section {
    background-image: url(/amar_trip_landing_Page/img/BG-Banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header-section {
    background-color: black;
}

.container .containt {
    display: flex;
    flex-direction: column (auto auto);
    justify-content: space-between;
}

.navbar-section-left {
    padding-top: 21px;
    padding-left: 63px;
}

.navbar-section-left .navbar-logo img {
    width: auto;
    height: auto;
    margin-right: 20px;
    cursor: pointer;
}

.containt .navbar-section-right img {
    width: 628px;
    height: 565px;
}

.navbar-section-left .navbar-containt h2 {
    color: #FFFFFF;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 100%;
    margin-top: 52px;
    margin-bottom: 50px;
}

.letter-high-light {
    color: #FAC515
}

.letter-high-light-driver {
    color: #EAAA08;
    font-size: 30px;
    font-weight: 600;
    font-style: semiBold;
    line-height: 150%;
}

.navbar-section-left .navbar-containt p {
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.navbar-section-left .navbar-store img {
    width: 220px;
    height: 57px;
}

.navbar-section-left .navbar-store img:hover {
    border: 1px solid #080808;
    border-radius: 15px;
}

.navbar-section-left .navbar-store {
    padding-bottom: 62px;
    cursor: pointer;
}

.containt .navbar-section-right img {
    width: 100%;
    height: auto;
    padding-top: 65px;
    margin-bottom: -5px;
}

.container .swiper-containt {
    text-align: center;
    padding-top: 40px;
}

.container .swiper-containt h1 {
    font-size: 46px;
    font-style: medium;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0;
    color: #333333;
}

.container .swiper-containt h3 {
    font-size: 29px;
    font-weight: 300;
    font-style: light;
    line-height: 130%;
    letter-spacing: 0;
    color: #333333;
}

.card-list .card-item {
    color: wheat;
    width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.card-list .card-item img {
    width: 400px;
    height: 400px;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}

/* testing */

.swiper-backface-hidden .swiper-slide {
    height: 500px;
    width: 500px;
}

/* testing */


/* swiper section end */

/* passenger section start */

.passenger-section .container {
    display: flex;
    padding-top: 60px;
}

.passenger-section-right {
    margin-right: 100px;
}

.passenger-button-section .button-1 {
    background-color: #FAC515;
    width: 226px;
    height: 65px;
    border-radius: 16px;
    border: 1px solid white;
    gap: 85px;
    margin-right: 26px;
    cursor: pointer;
}

.passenger-button-section .button-1:hover {
    background-color: #16B364;
}


.passenger-button-section .button-2 {
    background-color: #EEF2F6;
    width: 226px;
    height: 65px;
    border-radius: 16px;
    border: 1px solid white;
    gap: 85px;
    cursor: pointer;
}

.passenger-button-section h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0;
    color: #364152;
}

.passenger-button-section .button-2:hover {
    background-color: #16B364;
}


.passenger-header-containt h2 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 38px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    color: #333333;
}

.passenger-multi-key1 {
    display: flex;
    margin-bottom: 20px;
}

.multi-key-containt h1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    color: #000000;
}

.passenger-multi-key1 .icon-manager {
    height: 60px;
    width: 60px;
    border-radius: 16px;
    background-color: #ECF5FF;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    align-content: center;
}

.multi-key-containt p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    color: #6D6D6D;
}

/* passenger section end */
/* driver section start */


.driver-section .container {
    display: flex;
    padding-top: 60px;
}

.driver-button-section .button-1 {
    background-color: #EEF2F6;
    width: 226px;
    height: 65px;
    border-radius: 16px;
    border: 1px solid white;
    gap: 85px;
    margin-right: 26px;
    cursor: pointer;
    color: #364152;
}

.driver-button-section .button-1:hover {

    background-color: #ffb805;
}

.driver-button-section .button-2 {
    background-color: #16B364;
    width: 226px;
    height: 65px;
    border-radius: 16px;
    border: 1px solid white;
    gap: 85px;
    cursor: pointer;
}

.driver-button-section .button-2:hover {
    background-color: #ffb805;
}

.passenger-button-section h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0;
    color: #364152;
}

.passenger-header-containt h2 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 38px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    color: #333333;
}

.driver-section .container {
    gap: 40px;
}

/* footer section start */

.footer-section .footer-containt {
    display: flex;
    background-color: #202939;
    color: #FFFFFF;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 108px;
    padding-right: 108px;
    justify-content: space-between;
}

.footer-containt-2,
.footer-containt-3,
.footer-containt-4 {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: baseline;
}

.social-link {
    font-size: 25px;
    cursor: pointer;
}

.social-link i:hover {
    border: 2px solid #EAAA08;
    border-radius: 10px;

}

.copyright-section {
    background-color: #222c3b;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 110px;
    border-top: 1px solid rgb(105, 104, 104);
}